body {
	margin: 0;
	padding: 0;
	height: 100%;
	}

#background-layers {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -2;
	}

#background-layers div.background-layer  {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	display: none;
	z-index: -1;
	}
